<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1><br><br>
    {% if user.is_authenticated %}
    <h3>Hello, {{ user.username }}</h3>  <!-- Display username -->
    {% else %}
    <h3>Hello, Guest</h3>
    {% endif %}

    <h4>This is the core home page</h4>

    <br><br>
    {% if user.is_authenticated %}
    <form action={% url "logout" %} method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>

    </form>

    <a href={% url "password_reset" %}>
        <button>Change Password</button>
    </a>
    {% endif %}
</body>
</html>
